set editing-mode vi

# vi settings
$if mode=vi
    # normal mode
    set keymap vi-command
    #"j": beginning-of-history
    "l": backward-char
    "h": forward-char
    #"G": end-of-history
    ".": yank-last-arg #in command mode, paste the prev last arg
    "\C-w\C-w": tui-other-window
    # insert mode
    set keymap vi-insert
    "jk": vi-movement-mode # remap escape
    "\C-w\C-w": tui-other-window
$endif
